@charset "utf-8";
/* CSS Document */
.header_up dl{display: none;}

/* con */
.con_title span.more,.use_title span.more{display: none;}
.con_up dl{width: 100%;}
.con_down a{width: 100%;}
.foot_main input{width: 30%;}
.footer_down{display: none;}











